<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageName</key>
		<string>tmall_icon_cat_digital</string>
		<key>imageUrl</key>
		<string></string>
		<key>name</key>
		<string>品牌</string>
		<key>subClass</key>
		<array>
			<dict>
				<key>classID</key>
				<string>50024402</string>
				<key>imageName</key>
				<string>tmall_icon_cat_digital_2</string>
				<key>imageUrl</key>
				<string></string>
				<key>styletypename</key>
				<string>男装</string>
				<key>styletypeid</key>
				<string>11</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50024399</string>
				<key>imageName</key>
				<string>tmall_icon_cat_digital_3</string>
				<key>imageUrl</key>
				<string></string>
				<key>styletypename</key>
				<string>女装</string>
				<key>styletypeid</key>
				<string>12</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmall_icon_cat_mcloth</string>
		<key>imageUrl</key>
		<string></string>
		<key>name</key>
		<string>类别</string>
		<key>subClass</key>
		<array>
			<dict>
				<key>classID</key>
				<string>50024402</string>
				<key>imageName</key>
				<string>tmall_icon_cat_digital_2</string>
				<key>imageUrl</key>
				<string></string>
				<key>styletypename</key>
				<string>男装</string>
				<key>styletypeid</key>
				<string>11</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50024399</string>
				<key>imageName</key>
				<string>tmall_icon_cat_digital_3</string>
				<key>imageUrl</key>
				<string></string>
				<key>styletypename</key>
				<string>女装</string>
				<key>styletypeid</key>
				<string>12</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmall_icon_cat_bag</string>
		<key>imageUrl</key>
		<string></string>
		<key>name</key>
		<string>折扣</string>
		<key>subClass</key>
		<array>
			<dict>
				<key>classID</key>
				<string>50026637</string>
				<key>imageName</key>
				<string>tmall_icon_cat_bag_1</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>4折以下</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025829</string>
				<key>imageName</key>
				<string>tmall_icon_cat_bag_2</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>5-8折</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50036330,50036262,50037250</string>
				<key>imageName</key>
				<string>tmall_icon_cat_bag_3</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>9折以上</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmall_icon_cat_bag</string>
		<key>imageUrl</key>
		<string></string>
		<key>name</key>
		<string>价格</string>
		<key>subClass</key>
		<array>
			<dict>
				<key>classID</key>
				<string>50026637</string>
				<key>imageName</key>
				<string>tmall_icon_cat_bag_1</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>1-299</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025829</string>
				<key>imageName</key>
				<string>tmall_icon_cat_bag_2</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>300-599</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50036330,50036262,50037250</string>
				<key>imageName</key>
				<string>tmall_icon_cat_bag_3</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>600-999</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50036330,50036262,50037250</string>
				<key>imageName</key>
				<string>tmall_icon_cat_bag_3</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>1000-1499</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmall_icon_cat_bag</string>
		<key>imageUrl</key>
		<string></string>
		<key>name</key>
		<string>颜色</string>
		<key>subClass</key>
		<array>
			<dict>
				<key>classID</key>
				<string>50026637</string>
				<key>imageName</key>
				<string>tmall_icon_cat_bag_1</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>白</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025829</string>
				<key>imageName</key>
				<string>tmall_icon_cat_bag_2</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>黑</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50036330,50036262,50037250</string>
				<key>imageName</key>
				<string>tmall_icon_cat_bag_3</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>黄</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50036330,50036262,50037250</string>
				<key>imageName</key>
				<string>tmall_icon_cat_bag_3</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>金</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50036330,50036262,50037250</string>
				<key>imageName</key>
				<string>tmall_icon_cat_bag_3</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>灰</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50036330,50036262,50037250</string>
				<key>imageName</key>
				<string>tmall_icon_cat_bag_3</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>蓝</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50036330,50036262,50037250</string>
				<key>imageName</key>
				<string>tmall_icon_cat_bag_3</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>绿</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50036330,50036262,50037250</string>
				<key>imageName</key>
				<string>tmall_icon_cat_bag_3</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>紫</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50036330,50036262,50037250</string>
				<key>imageName</key>
				<string>tmall_icon_cat_bag_3</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>棕</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50036330,50036262,50037250</string>
				<key>imageName</key>
				<string>tmall_icon_cat_bag_3</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>红</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50036330,50036262,50037250</string>
				<key>imageName</key>
				<string>tmall_icon_cat_bag_3</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>粉</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50036330,50036262,50037250</string>
				<key>imageName</key>
				<string>tmall_icon_cat_bag_3</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>彩</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
